.box {
    padding: 10px;
    background-color: red;
}
/* img {
    float: left
} */
.box:after{
    content: '';
    clear: both;
    display: table;
}
table{
    width: 280px;
    text-align: left;
    margin: 0 auto;

}
.father{
    width: 100px;
    background-color: green;
    /*white-space: nowrap;*/
}
.son{
    display: inline-block;
}

.imgsContainer{
    width: 300px;
    height: 160px;
    overflow: hidden;
    position: relative;
}

.imgsContainer > ul {
    position: absolute;
    white-space: nowrap;
}
.imgsContainer li {
    display: inline-block;
}
.inlinebox {
    width: 100px;
    height: 100px;
    background-color: green;
    padding-left: 200px;
}
textarea {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.ele{
    max-width: 100px;
    overflow: hidden;
    transition: max-width 0.5s;
}
.ele:hover {
    max-width: 200px;
}